<h1> <%= t('.completed_test', title: @test_passage.test.title) %> </h1>
<% if @test_passage.success? %>
  <h2 style="color: green"> ВЫ УСПЕШНО ПРОШЛИ ТЕСТ! </h2>
<% else %>
  <h2 style="color: red"> ВЫ НЕ ПРОШЛИ ТЕСТ </h2>
<% end %>

<h3><%= t('.result', res: @test_passage.percent) %> %</h3>

<%= link_to t('.back'), tests_path %>
