<small>
  <% if current_user %>
    <p>
      <%= link_to 'Обратная связь', new_feedback_path %>
    </p>
  <% end %>
<footer class='footer-container'>
  <div class='col-8'>
    <%= current_year %>  By Murad Gadzhiev.<%= github_url("RubyRockstar", "Rails") %>.
  </div>
  <div class="col-4">
        Учебный проект в онлайн-школе
        <%= link_to "Thinknetica", "http://thinknetica.com", target: '_blank' %>
        .Тесты которые может пройти пользователь.
  </div>
</footer>
