<li>
<%= answer.body %><br>
<%= link_to t('.show'), admin_answer_path(answer) %> |
<%= link_to t('.edit'), edit_admin_answer_path(answer) %> |
<%= link_to t('.delete'),
            admin_answer_path(answer),
            method: :delete,
            data: { confirm: 'Are you sure' } %>
</li>
