form
  input {
    display: block-inline;
    margin: 10px;
  }

  .input-green {
    border-color: green;
  }

  .input-red {
    border-color: red;
  }

.success:after {
  content: '+';
  color: green;
  font-weight: 800;
}

.error:after {
  content: '-';
  color: red;
  font-weight: 800;
}
